*.class

# Package Files #
*.jar
*.war
*.ear
/HotGoalDetection/nbproject/private/
/HotGoalDetection/build/

/CompetitionRobot/nbproject/private/
/CompetitionRobot/nbproject/project.xml
/CompetitionRobot/nbproject/project.bak.xml
/CompetitionRobot/build/

*~
